<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<commands>
			<command name="advimager:advancededit" type="AdvancedImager.Commands.AdvancedEdit, AdvancedImager" />
			<command name="advimager:save" type="AdvancedImager.Commands.AdvSave, AdvancedImager" />
			<command name="advimager:saveas" type="AdvancedImager.Commands.SaveAs, AdvancedImager" />
			<command name="advimager:createcrop" type="AdvancedImager.Commands.CreateCropItem, AdvancedImager" />
		</commands>
		<processors>
			<uiAdvImagerSaveAs>
				<processor mode="on" type="AdvancedImager.Pipelines.AdvImagerSaveAs, AdvancedImager" method="GetDestination"/>
				<processor mode="on" type="AdvancedImager.Pipelines.AdvImagerSaveAs, AdvancedImager" method="CheckDestination"/>
				<processor mode="on" type="AdvancedImager.Pipelines.AdvImagerSaveAs, AdvancedImager" method="CheckLanguage"/>
				<processor mode="on" type="AdvancedImager.Pipelines.AdvImagerSaveAs, AdvancedImager" method="Execute"/>
			</uiAdvImagerSaveAs>
		</processors>
	</sitecore>
</configuration>
