<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<unicorn>
			<configurations>
				<configuration name="AdvancedImager" description="Development artifacts of Advanced Imager">
					<predicate>
						<include name="Templates" database="core" path="/sitecore/templates/Advanced Imager" />
						<include name="Application" database="core" path="/sitecore/content/Applications/Media/AdvancedImager">
							<exclude childrenOfPath="Crops" />
						</include>
						<include name="Context Ribbon" database="core" path="/sitecore/content/Applications/Content Editor/Ribbons/Contextual Ribbons/Images/Media/Image/Advanced Edit" />
					</predicate>
					
					<targetDataStore physicalRootPath="$(sourceFolder)\..\..\Advanced Imager\src\Items" useDataCache="true" singleInstance="true" />
					<dataProviderConfiguration enableTransparentSync="false" />
				</configuration>
			</configurations>
		</unicorn>
	</sitecore>
</configuration>
